<!DOCTYPE html>
<html>
    <head>
        <title>
            Sửa Thông Tin Thể Loại Sách
        </title>
    </head>

    <body>
        <h1>Sửa Thông Tin Thể Loại Sách</h1>

        <form method="POST" action="{{ url_for('edit_kind_of_book', id=kind_of_book.id) }}">
            
            <label for="name">Tên Thể Loại:</label>
            <select id="name" name="name" value="{{ kind_of_book.name }}" required>
                <option value="" disabled selected>Chọn thể loại sách</option>
                <option value="Văn học">Văn học</option>
                <option value="Khoa học">Khoa học</option>
                <option value="Lịch sử">Lịch sử</option>
                <option value="Thiếu nhi">Thiếu nhi</option>
                <option value="Tiểu thuyết">Tiểu thuyết</option>
                <option value="Sách tham khảo">Sách tham khảo</option>
                <option value="Sách giáo khoa">Sách giáo khoa</option>
                <option value="Truyện tranh">Truyện tranh</option>
            </select><br>

            <label for="book_shelf_number">Số Kệ Sách:</label>
            <input type="number" id="book_shelf_number" name="book_shelf_number" value="{{ kind_of_book.book_shelf_number }}" required><br><br>

            <button type="submit">Cập Nhật</button>
        </form>

        <a href="{{ url_for('showAllKindofBook') }}">Quay lại</a>
    </body>
</html>