<!DOCTYPE html>
<html>
<head>
    <title>Thêm Nhân Viên Mới</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='insert.css') }}">
</head>
<body>
    <header>
        <div class="auth-buttons">
            <a href="/logout" class="btn">Đăng xuất</a>
        </div>
    </header>
    <a href="{{ url_for('select') }}" class="back-link">← Quay lại</a>
    <div class="container">
        <h1 style="color: rgb(3, 29, 159);">Thêm Nhân Viên Mới</h1>
        <form method="POST" action="{{ url_for('addNewEmployeeCommit') }}">
            <div>
                <label for="employee_id">Mã Nhân Viên:</label>
                <input type="text" id="employee_id" name="employee_id" required>
            </div>
            <div>
                <label for="employee_name">Tên Nhân Viên:</label>
                <input type="text" id="employee_name" name="employee_name" required>
            </div>
            <div>
                <label for="gender">Giới tính:</label>
                <select id="gender" name="gender" required>
                    <option value="" disabled selected>Chọn giới tính</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div><br>
            <div>
                <label for="birthday">Ngày Sinh:</label>
                <input type="date" id="birthday" name="birthday" required>
            </div><br>
            <div>
                <label for="phone">Điện Thoại:</label>
                <input type="text" id="phone" name="phone" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="address">Địa chỉ:</label>
                <input type="text" id="address" name="address" required>
            </div>
            <div>
                <label for="position">Vị trí:</label>
                <select id="position" name="position" required>
                    <option value="" disabled selected>Chọn vị trí</option>
                    <option value="Quản lý">Quản lý</option>
                    <option value="Nhân viên">Nhân viên</option>
                </select>
            </div><br>
            <div>
                <label for="salary">Lương:</label>
                <input type="number" id="salary" name="salary" step="0.01" min="0" required>
            </div><br>
            <div>
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>
            </div><br>
            <button type="submit">Thêm Nhân Viên</button>
        </form>
    </div>
</body>
</html>